env/
__pycache__/
**/__pycache__/
scripts/log/*
git add -f scripts/log/.gitkeep
data/output/*
git add -f data/output/.gitkeep
data/treated/*
git add -f data/treated/.gitkeep
data/cache/*
git add -f data/cache/.gitkeep